<!-- This button is used for loading more items. When clicked, it triggers a mix-get request to load the next page of items. -->
<!-- mix-get="/items/page/{{page_number}}": This attribute specifies that when the button is clicked, it should make a GET request to the server at the endpoint /items/page/{{page_number}} -->
<!-- {{page_number}} is a placeholder that gets replaced with the actual page number when the template is rendered -->
<!-- data-page="{{page_number}}": This attribute stores the current page number, which is used to identify which page of items to load next. index.html gives the pagenumber 2 -->
<!-- Server-Side Handling: Our pagination route like processes the request and returns the next set of items. -->
<button id="more" class="block w-1/3 text-white bg-neutral-800 mx-auto font-bold"
    mix-get="/items/page/{{page_number}}"
    mix-default="more"
    mix-await="Please wait..."
    data-page="{{page_number}}">
    more
</button>