% import x
%include("_header")
<form id="resetPasswordForm">
    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required 
           mix-check="{{x.PASSWORD_REGEX}}"">
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required 
           mix-check="{{x.PASSWORD_REGEX}}">
    <button class="bg-slate-500" type="submit" mix-put="/reset-password/{{token}}" mix-data="#resetPasswordForm" mix-default="Reset Password" mix-await="Resetting...">
        Reset Password
    </button>
</form>
%include("_footer")

