% import x
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/mixhtml.js" defer></script>
    <script src="/app.js" defer></script>
    <script src="/carousel.js" defer></script>
</head>
<body>
    <main>
        <nav>
            <a href="/">
                <button>All Properties</button>
            </a>
            %if x.validate_customer_logged():
                <a href="/my-bookings">
                    <button>My Bookings</button>
                </a>
                <a href="/profile">
                    <button>My Profile</button>
                </a>
                <a href="/logout">Logout</a>
            %elif x.validate_partner_logged():
                <a href="/add-property">
                    <button>Add Property</button>
                </a>
                <a href="/profile">
                    <button>My Profile</button>
                </a>
                <a href="/logout">Logout</a>
            %elif x.validate_admin_logged():
                <a href="/admin-users">Users</a>
                <a href="/admin-properties">Properties</a>
                <a href="/admin-logout">Logout</a>
            %else:
                <a href="/signup">
                    <button>Sign Up</button>
                </a>
                <a href="/login">
                    <button>Log In</button>
                </a>
            %end
        </nav>
    </main>
</body>
</html>
