% import x
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/app.css">
    <script src="/mixhtml.js" defer></script>
    <script src="/app.js" defer></script>
</head>
<body>
    <main>
        <nav>
            <a href="/">
                <button>All Properties</button>
            </a>
            %if x.validate_customer_logged():
                <a href="/my-bookings">
                    <button>My Bookings</button>
                </a>
                <a href="/profile">
                    <button>My Profile</button>
                </a>
                <button mix-get="/logout" mix-redirect="/login">Logout</button>
            %else:
                <a href="/signup">
                    <button>Sign Up</button>
                </a>
                <a href="/login">
                    <button>Log In</button>
                </a>
            %end
        </nav>
    </main>
</body>
</html>
