% include("_header.html")
<main class="flex flex-col lg:flex-row">
    <div class="w-full lg:w-1/2 h-full">
        <div class="lg:fixed lg:w-[calc(50%-0.5rem)] lg:h-[calc(100%-5rem)]">
            <div id='map' class="w-full h-80 lg:h-full"></div>
            <script>
                mapboxgl.accessToken = "{{mapbox_token}}";

                // Convert items JSON to JavaScript object
                var items = {{!items_json}};

                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [12.5683, 55.6761],
                    zoom: 12
                });

                // Function to add markers to the map
                function addMarkers(items) {
                    items.forEach(function(item) {
                        var imageUrl = item.item_images && item.item_images.length > 0 ? `/images/${item.item_images[0]}` : null;
                        var popupContent = imageUrl ? 
                            `<img src="${imageUrl}" style="width:100px;height:100px;"><br>
                            <strong>${item.item_name}</strong><br>
                            ${item.item_price_per_night} DKK per night` :
                            `<strong>${item.item_name}</strong><br>
                            ${item.item_price_per_night} DKK per night`;

                        var popup = new mapboxgl.Popup({ offset: 25 }).setHTML(popupContent);

                        new mapboxgl.Marker()
                            .setLngLat([parseFloat(item.item_lon), parseFloat(item.item_lat)])
                            .setPopup(popup)
                            .addTo(map);
                    });
                }

                // Add all markers initially
                addMarkers(items);
            </script>
        </div>
    </div>
    <div class="w-full lg:w-1/2 pb-16 px-4 mt-8 lg:mt-0">
        <div id="items" class="grid grid-cols-1 md:grid-cols-2 gap-4 pb-10">
            % for item in items:
                <div class="item overflow-hidden">
                    % include("_item.html", item=item)
                </div>
            % end
        </div>
        % include("__btn_more.html", page_number=2)
    </div>
</main>
% include("_footer.html")