% include("_header.html")
    <main class="flex flex-col items-center mt-10">
        <h1 class="text-xl mb-4">My Properties</h1>
        <div class="grid grid-cols-1 gap-4">
            % for property in properties:
                <div class="property-item">
                    <h2>{{property["item_name"]}}</h2>
                    <p>Price: {{property["item_price_per_night"]}} DKK/night</p>
                    <p>Stars: {{property["item_stars"]}}</p>
                    <a href="/edit-property/{{property['item_pk']}}" class="bg-yellow-500 text-white p-2">Edit</a>
                    <form id="frm_delete_property_{{property['item_pk']}}" mix-data="#frm_delete_property_{{property['item_pk']}}" mix-post="/delete-property/{{property['item_pk']}}" class="inline-block">
                        <button type="submit" class="bg-red-500 text-white p-2">Delete</button>
                    </form>
                </div>
            % end
        </div>
    </main>
%include("_footer.html")