
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner Dashboard</title>
</head>
<body>
    <main>
        <div id="partner_dashboard_container">
            <h1>Welcome, partner!</h1>
            <nav>
                <a href="/customer-profile">All Properties</a>
                <a href="/customer-orders">My properties</a>
                <a href="/logout">Logout</a>
            </nav>
            <h2>partner Dashboard</h2>
        </div>
    </main>
</body>
</html>